@use '../mixins' as *;

//=====================================
//     下層：Worksページ
//=====================================
.article {
  padding: 136px 0;

  @include mq(sp) {
    padding-top: 74px;
  }

  &-container {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.article-title {
  margin-bottom: 30px;
  font-size: 1.25rem;

  @include mq(sp) {
    display: flex;
    justify-content: center;
  }
}

.article-body {
  max-width: 720px;
  margin: 0 auto;

  &_mockup {
    display: flex;
    justify-content: center;
    width: 100%;

    img {
      padding: 20px;
      margin-bottom: 20px;
    }
  }

  p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 30px;
    font-family: var(--font-text);

    @include mq(sp) {
      font-size: 16px;
      line-height: 1.7;
      margin-bottom: 20px;
      font-weight: normal;
    }


    .article-body_pc {
      width: 40%;
      display: flex;
      margin: 56px auto;
    }
  }
}

.article-body__text {
  position: relative;
  font-size: 20px;
  margin-bottom: 5px;
  padding-left: 1em;
  font-family: var(--font-text);
  letter-spacing: 0.08rem;

  @include mq(sp) {
    letter-spacing: 0.05rem;
    font-size: 18px;
    padding-left: .8em;
  }

  &:not(:first-child) {
    margin-top: 50px;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    content: "";
    border-radius: 3px;
    background-color: var(--text-color);
  }
}

.article-body_sp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;

  img {
    width: 20%;
    padding: 20px;
  }
}

.article-body_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;

  img {
    width: 40%;
    margin: 0 16px;
  }
}

.home-link {
  text-align: center;

  a {
    font-size: inherit; // 既存のフォントサイズを継承

    @include mq(sp) {
      font-size: 16px;
    }
  }
}

.footer {

  .copyright {
    font-size: 14px !important;
  }
}

//=====================================
//    reel
//=====================================
.specific-page {
  text-align: center;
  /* 中央寄せ */
}

.custom-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 0 60px;
  box-sizing: border-box;

  @include mq(sp) {
    flex-direction: column;
    align-items: center;
    gap: 32px;
    text-align: center;
    width: auto; // 小さい画面では幅を自動設定
  }

  @include mq(xs) {
    flex-direction: column;
    align-items: center;
    gap: 32px;
    text-align: center;
  }
}

.custom-reel {
  width: calc(25% - 10px);
  height: 500px;
  // margin: 5px;
  margin: 10px 0; // 上下に少し余白を追加
  box-sizing: border-box;

  @include mq(sp) {
    width: 100%; // 768px以下で幅100%を指定
    max-width: 300px; // 必要であれば最大幅も設定
  }

  @include mq(xs) {
    width: 100%;
    max-width: 300px;
  }
}

.custom-content_1 {
  justify-content: space-evenly;
  padding-bottom: 100px;
  padding-top: 0;
  height: auto;
}

.custom-reel_1 {
  width: 500px;
  height: 500px;

}

.centered {
  text-align: center;
  width: 100%;
  display: block;
}