:root {
  --color-primary: #3EA1D1;
  --color-base: #fff;
  --text-color: #333;
  --font-primary: "Noto Serif JP", serif;
  --font-weight-light: 300;
  --font-weight-bold: 600;
  --font-size-base: 1rem;
  --line-height-base: 1.7;
}