:root {
  //ベース色
  // --main-color: ;
  // --secondary: ;
  --accent-color: #e7fbe7;
  --bg-color: #fffdec;


  // aリンクカラー
  --rink-color: #1ca9e3;

  // テキスト色
  --text-color: #333;
  --text-thin-color: #797979;

  --white: #fff;
  --black: #000;

  // フォント
  --font-base: "Shippori Mincho", serif;
  --font-text: 'Noto Sans JP', sans-serif;
}