body {
  font-family: "Noto Serif JP", serif;
  color: #333333;
  font-size: 16px;
  line-height: 1.7;
  font-weight: 300;
}

@media screen and (min-width: 600px) {
  .hidden-sm {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .hidden-md {
    display: none;
  }
}
@media screen and (min-width: 900px) {
  .hidden-lg {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .hidden-xl {
    display: none;
  }
}
.inner {
  padding-inline: 15px;
}
@media screen and (min-width: 768px) {
  .inner {
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 40px;
  }
}

.section__content {
  margin-top: 46px;
}
@media screen and (min-width: 768px) {
  .section__content {
    margin-top: 64px;
  }
}

.heading {
  font-size: 30px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 100%;
}
.heading::after {
  content: "";
  width: 60px;
  height: 1px;
  background: #3EA1D1;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 40px;
    gap: 24px;
  }
}

.button {
  display: inline-block;
  min-width: 158px;
  padding: 11px;
  text-align: center;
  border: 1px solid #3EA1D1;
  background: #fff;
  color: #3EA1D1;
  font-size: 14px;
  letter-spacing: 0.02px;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}
.button:hover {
  color: #fff;
  background-color: #3EA1D1;
}

.header {
  height: 60px;
}
@media screen and (min-width: 768px) {
  .header {
    height: 70px;
  }
}

.header-inner {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo a img {
  width: 120px;
  display: block;
}

@media screen and (min-width: 768px) {
  .header__icon {
    display: none;
  }
}

.header__nav {
  background: #3EA1D1;
  width: 270px;
  height: calc(100% - 60px);
  position: fixed;
  right: 0;
  top: 60px;
  padding: 32px 15px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: transformX 0.4s;
  transition: transformX 0.4s;
}
.header__nav.is-checked {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
@media screen and (min-width: 768px) {
  .header__nav {
    background: transparent;
    width: auto;
    height: auto;
    position: static;
    padding: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.header__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .header__lists {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 46px;
  }
}

.header__link {
  display: inline-block;
  padding-block: 8px;
  color: #fff;
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .header__link {
    color: #333333;
    font-size: 16px;
  }
}

.drawer-icon {
  width: 30px;
  height: 18px;
  position: relative;
}
.drawer-icon.is-checked .drawer-icon__bar:nth-child(1), .drawer-icon.is-checked .drawer-icon__bar:nth-child(3) {
  top: 9px;
}
.drawer-icon.is-checked .drawer-icon__bar:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.drawer-icon.is-checked .drawer-icon__bar:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.drawer-icon.is-checked .drawer-icon__bar:nth-child(2) {
  display: none;
}

.drawer-icon__bar {
  position: absolute;
  width: 30px;
  height: 2px;
  top: 0;
  background: #3EA1D1;
  -webkit-transition: top 0.4s, -webkit-transform 0.4s;
  transition: top 0.4s, -webkit-transform 0.4s;
  transition: top 0.4s, transform 0.4s;
  transition: top 0.4s, transform 0.4s, -webkit-transform 0.4s;
}
.drawer-icon__bar:nth-child(1) {
  top: 0;
}
.drawer-icon__bar:nth-child(2) {
  top: 8px;
}
.drawer-icon__bar:nth-child(3) {
  top: 16px;
}

.main {
  display: grid;
  gap: 96px;
}
@media screen and (min-width: 768px) {
  .main {
    gap: 160px;
  }
}

.fv__inner {
  position: relative;
}

@media screen and (min-width: 768px) {
  .fv__image {
    max-width: 990px;
    margin-left: auto;
    display: block;
  }
}

.fv__message {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .fv__message {
    position: absolute;
    inset-block: 0;
    margin-block: auto;
    left: 0;
    padding: 80px 40px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background: #fff;
  }
}

.fv__title {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.7;
}
.fv__title br {
  display: none;
}
@media screen and (min-width: 768px) {
  .fv__title br {
    display: inline;
  }
}

.fv__text {
  margin-top: 16px;
}

.concept__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 34px;
}
@media screen and (min-width: 768px) {
  .concept__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 6.6666666667%;
  }
}

.concept__image {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .concept__image {
    width: 50%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}
.concept__image img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .concept__message {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.concept__title {
  font-size: 20px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .concept__title {
    font-size: 18px;
  }
}
@media screen and (min-width: 900px) {
  .concept__title {
    font-size: 20px;
  }
}

.concept__text {
  margin-top: 22px;
}
@media screen and (min-width: 768px) {
  .concept__text {
    margin-top: 40px;
  }
}

.feature__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}
@media screen and (min-width: 768px) {
  .feature__cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 40px;
  }
}
@media screen and (min-width: 900px) {
  .feature__cards {
    gap: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__cards {
    gap: 90px;
  }
}

.feature-card {
  background: #fff;
  -webkit-box-shadow: 3px 3px 15px 0px rgba(96, 96, 96, 0.16);
          box-shadow: 3px 3px 15px 0px rgba(96, 96, 96, 0.16);
}

.feature-card__image {
  text-align: center;
}
.feature-card__image img {
  width: 100%;
}

.feature-card__body {
  font-weight: 600;
  text-align: center;
  padding: 26px;
}

.about {
  background: url(../img/sp/mask-sp.jpg) no-repeat top center/cover;
  position: relative;
  padding-block: 180px 50px;
}
@media screen and (min-width: 768px) {
  .about {
    background-image: url(../img/mask-pc.jpg);
    padding-block: 123px 122px;
  }
}
.about::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.12);
  z-index: 1;
}

.about__content {
  position: relative;
  z-index: 2;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .about__content {
    width: 50%;
  }
}

.about__title {
  font-size: 20px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .about__title {
    font-size: 22px;
  }
}

.about__text {
  margin-top: 24px;
  font-size: 14px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .about__text {
    font-size: 16px;
  }
}

.products__inner {
  padding-inline: 56px;
}
@media screen and (min-width: 768px) {
  .products__inner {
    max-width: 1020px;
    padding-inline: 40px;
  }
}

.products__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .products__cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 50px;
  }
}
@media screen and (min-width: 768px) and (min-width: 900px) {
  .products__cards {
    gap: 80px;
  }
}

.products__button {
  text-align: center;
  margin-top: 42px;
}
@media screen and (min-width: 768px) {
  .products__button {
    margin-top: 44px;
  }
}

.products-card__image {
  text-align: center;
}
.products-card__image img {
  width: 100%;
}

.products-card__body {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .products-card__body {
    margin-top: 18px;
  }
}

.products-card__title {
  font-size: 14px;
}

.products-card__price {
  margin-top: 10px;
  font-size: 14px;
  color: #989898;
}/*# sourceMappingURL=style.css.map */