@forward './variables';
@use 'mixins' as *;

// リセットスタイル//
// ※教科書で掲載されていたため、記述しております
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  scroll-behavior: smooth;
  font-size: 46px;

  @include mq {
    font-size: calc((100vw - 320px) / 140 + 16px);
  }
}

body {
  font-family: 'Noto Sans JP', 'Radio Canada', sans-serif;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

//---- モバイルファースト -----//
//-------------- ヘッダー ----------------//
.header {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background-color: var(--bg-color);
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;

  // pc
  @include mq {
    height: 100vh;
    width: 200px;
    display: block;
  }
}


.header-logo-area {
  text-align: center;

  img {
    box-shadow: none;
    width: 80%;
  }

  // pc
  @include mq {
    padding-top: 40px;
    text-align: center;
  }
}

//---- （ハンバーガー）/sp ----//
.sp-only {
  display: block;

  @include mq {
    display: none;
  }
}

.nav-toggle {
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  z-index: 100;

  .nav-hidden {
    display: none;
  }

  #nav-open {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 8px;
    z-index: 90;
    background: url(../img/ico-nav.svg) center center no-repeat;
    background-size: 35px;
  }

  #nav-close {
    display: none;
    position: absolute;
    z-index: 90;
    top: 10px;
    left: 25px;
  }
}

.pc-only {
  display: none;

  @include mq {
    display: block;
  }
}

//---- ナビ/メニュー  ----//
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(105%);
  transition: .6s ease-in-out;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background: var(--bg-color);
  justify-content: center;
}

.nav-menu {
  padding-top: 440px;
  text-transform: uppercase;
  text-align: center;

  @include mq {
    margin-top: 60px;
    padding: 0;
    margin-left: 10px;
    display: grid;
    justify-items: start;
  }

  li {
    justify-content: center;
    padding: 15px;
    align-items: center;
    font-size: 0.4rem;

    @include mq {
      font-size: 0.65rem;

    }

    a {
      color: var(--text-color);
      text-decoration: none;
    }

    a.underline {
      background: linear-gradient(black, black) 0 100%/0 2px no-repeat;
      transition: background .3s;
      text-decoration: none;
    }

    // マウスホバー時の設定
    a.underline:hover {
      background-size: 100% 2px;
    }

  }
}

// チェックボックス //
#nav-input:checked~#nav-open {
  background: url(../img/ico-nav-close.svg) center center no-repeat;
  background-size: 40px;
  z-index: 150;
}

#nav-input:checked~#nav-close {
  display: block;
  opacity: 0.5;
}

#nav-input:checked~#nav-content {
  transform: translateX(0%);
  transition: .6s ease-in-out;
}

// ----- sns------//
.nav-sns {
  display: flex;
  justify-content: center;
  margin-top: 450px;

  @include mq {
    position: absolute;
    bottom: 20px;
    align-items: center;
    width: 100%;
  }

  li {
    padding: 10px;

    img {
      width: 100%;
      box-shadow: none;
    }
  }
}

//--------------- main ---------------//
//--------- ＭＶ---------//

.mv {
  // height: calc(100vh - 60px);
  margin-top: 60px;
  background: url(../img/mv-bg@2x.jpg) center center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 10;

  @include mq {
    margin-left: 200px;
    height: 100vh;
    margin-top: 0;
  }

  .mv-container {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mq {
      height: 100%;
    }


    .mv-area {
      text-align: center;

      // アニメーション
      @keyframes fadein {
        0% {
          opacity: 0;
          transform: translateY(0);
        }

        100% {
          opacity: 1;
          transform: translateY(20px);
        }
      }

      img {
        transform: translateY(-5%);
        width: 80%;

        @include mq {
          max-width: 550px;
          width: 100%;
        }
      }
    }
  }
}

.mv-text {
  position: absolute;
  left: 4%;
  bottom: 2%;
  line-height: 1.3;
  font-size: 0.6rem;

  @include mq {
    display: grid;
    gap: 10px;
    justify-items: start;
    font-size: 2rem;
  }

  & span {
    transition: 3s ease-in;
    opacity: 0;
    transform: translateX(-60px);
    display: block;
  }

  & span:first-child {
    animation: catch_anime 1.4s forwards 1s;
  }

  & span:nth-child(2) {
    animation: catch_anime 1.4s forwards 1s;
  }

  & span:nth-child(3) {
    animation: catch_anime 1.4s forwards 1s;
  }

  @keyframes catch_anime {
    0% {
      transform: translateX(-60px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.text-day {
  background-color: var(--bg-color);
  font-size: 0.3rem;
  font-weight: 500;
  display: inline-block;

  @include mq {
    font-size: 0.9rem;
  }
}

.text-title_en {
  display: inline-block;
  background-color: var(--bg-color);
  font-size: 0.6rem;
  font-weight: normal;
  margin-bottom: 3px;
  vertical-align: middle;
  padding: 0 3px;

  @include mq {
    font-size: 1.4rem;
  }
}

.text-title {
  display: inline-block;
  background-color: var(--bg-color);
  font-size: 0.6rem;
  font-weight: normal;
  vertical-align: middle;
  padding-left: 3px;

  @include mq {
    font-size: 1.5rem;
  }
}


// --------BACKNUMBER-----------//
.backnumber {
  padding: 20px 0 20px 10px;

  @include mq {
    margin: 10px 220px;
  }

  h2 {
    display: block;

    .backnumber-title {
      text-transform: uppercase;
      font-size: 0.35rem;
      font-weight: normal;

      @include mq {
        font-size: 1.1rem;
      }
    }

    .backnumber-subtitle {
      font-size: 0.2rem;
      font-weight: normal;

      @include mq {
        font-size: 0.5rem;
      }
    }
  }
}

// --------バックナンバー・表紙一覧-----------//
.backnumber-container {

  @include mq {
    margin-left: 200px;
  }

  .backnumber-container-list {
    @include mq {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .backnumber-list {
      position: relative;
      padding-top: 40px;

      @include mq {
        padding: 60px 20px 0;
      }
    }
  }

  a {
    cursor: pointer;
    display: flex;
    justify-content: center;

    img {
      max-width: 300px;
      width: 54%;
      height: auto;
      box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2);

      @include mq {
        max-width: 540px;
      }
    }
  }
}

.list-item-text {
  padding: 50px 25px;
  line-height: 1.6;

  .list-item-info {
    font-size: 0.3rem;
    color: var(--text-light-color);
    opacity: 0.8;

    @include mq {
      font-size: 0.7rem;
    }
  }

  .list-item-title {
    font-weight: 500;
    padding-top: 5px;
    font-size: 0.42rem;

    @include mq {
      font-size: 0.95rem;
    }
  }
}

.list-item-101 {
  background-color: #ecf4f9;
}

.list-item-100 {
  background-color: #fbf3d2;
}

.list-item-99 {
  background-color: #f9f2eb;
}

.list-item-98 {
  background-color: #fae8c2;
}

.list-item-97 {
  background-color: #e2efe7;
}

.list-item-96 {
  background-color: #f2f5fb;
}