@use './mixins' as *;

// リセット
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//--------------------- 共通設定 ---------------------//
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
}


img {
  display: block;
  max-width: 100%;
}

h2,
p {
  opacity: 0.8;
}

h3 {
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: 400;
  opacity: 0.7;
}

/* ボタン共通設定 */
.btn {
  border: none;
  background: var(--sub-color);

  a {
    display: block;
    padding: 10px 10px;
    width: 200px;
    border-radius: 8px;
    margin: 0 auto;
    border: none;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.02rem;
    font-family: var(--font-primary);
    text-decoration: none;
    color: var(--bg-color);
    cursor: pointer;

    &:hover,
    &:focus {
      background: var(---main-color-green);
    }
  }
}

// ストライプ柄の下線//
.stripe-line {
  position: relative;
  padding: 0.2em;
  width: 240px;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7px;
    background: repeating-linear-gradient(-45deg, rgb(139, 204, 139), rgb(117, 190, 117) 2px, white 2px, white 4px);
  }
}

// 👇点線のコード //
.dotted-line {
  background-image: linear-gradient(to right, #F9AA8F 1px, transparent 1px);
  background-size: 2px 1px;
  background-repeat: repeat-x;
  background-position: left bottom;
  padding: 1px;
}

//----------------- ヘッダー ------------------//
.header nav {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// ナビ/コンテナ 2 (3点セット)
.header-nav_container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  transition: 0.8s var(--easing);
  background: rgba(255, 255, 255, 0.9);

  .header-nav-checkbox:checked~& {
    transform: translateX(0);
  }

  //ナビゲーション（gnav）
  &_gnav {
    text-align: center;
    display: flex;
    align-items: center;


    li {
      margin-bottom: 25px;
      list-style: none;


      a {
        text-decoration: none;
        color: var(--text-color);
        font-size: 1.5rem;
      }
    }
  }
}


// ハンバーガーボタン
.header-nav-toggle {
  position: fixed;
  width: 40px;
  height: 40px;
  z-index: 10;
  top: 40px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &::before,
  &::after,
  span {
    content: "";
    height: 2px;
    width: 30px;
    background-color: var(--bg-color);
    opacity: 0.7;
    position: absolute;
    transition: 0.5s var(--easing);
  }


  &::before {
    top: calc(50% - 14px);
  }

  &::after {
    top: calc(50% + 14px);
  }

  .header-nav-checkbox:checked~& {
    span {
      transform: scaleX(0);
    }

    &::before {
      top: 50%;
      transform: rotate(-45deg);
      background-color: var(--text-color);
    }

    &::after {
      top: 50%;
      transform: rotate(45deg);
      background-color: var(--text-color);
    }
  }
}

.header-nav-checkbox {
  display: none;
}

// /ハンバーガーボタン ここまで //


//-------------------- メイン --------------------//
// メインビジュアル（カーブの部分）
.mv-area {
  position: relative;
  overflow: hidden;
  height: 700px;
  border-bottom-right-radius: 50% 10px;
  border-bottom-left-radius: 50% 10px;

  img {
    height: 100%;
    object-fit: cover;
    object-position: 25%;
  }

  &_title {
    color: var(--bg-color);
    position: absolute;
    top: 45%;
    font-size: 1.2rem;
    text-align: center;
  }
}

//--- イントロダクション（私たちは～） ---//
.introduction-inner {
  margin: 60px 5px 0 5px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 100%;



  h2 {
    font-weight: 400;
    line-height: 3rem;
  }

  p {
    margin-top: 50px;
    line-height: 2rem;
    letter-spacing: 0.01em;
  }

  img {
    width: 50%;
    margin-left: auto;
    margin-bottom: 50px;
  }
}

// 画面固定スクロール  １
.scroll-box {
  height: 55vh;
  clip-path: inset(0);
  margin-bottom: 90px;

  img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    // object-position: center;
    // opacity: .2;
  }
}


// info-お知らせ//
.info {
  // margin-top: 90px;
  width: 100%;
  text-align: center;

  // h3 {
  //   margin: 0 auto;
  //   font-size: 1.5rem;
  //   font-weight: 400;

  //   position: relative;
  //   width: 240px;
  //   padding: 0.2em;


  //   &::after {
  //     content: '';
  //     position: absolute;
  //     left: 0;
  //     bottom: 0;
  //     width: 100%;
  //     height: 7px;
  //     background: repeating-linear-gradient(-45deg, rgb(139, 204, 139), rgb(117, 190, 117) 2px, white 2px, white 4px);
  //   }
  // }
}

.info-list {

  &_items {
    padding: 0 20px;
    margin: 50px 0;

    &:last-child {
      margin-right: auto;
      width: 60%;
      margin-bottom: 50px;
    }

    a {
      background-color: var(--text-color);
      color: var(--main-color);
      cursor: pointer;
      display: block;
      padding-bottom: 10px;
      text-decoration: none;

      span {
        vertical-align: middle;
      }
    }
  }
}

//---- 今月のお花教室 -----//
.info-blog {
  padding: 0 20px;

  .info-school {
    padding: 50px 0 40px;
  }

  .info-title {
    text-align: left;
    line-height: 1.8rem;
    padding-bottom: 10px;
  }

  // // 👇点線のコード //
  // .dotted-line {
  //   background-image: linear-gradient(to right, #F9AA8F 1px, transparent 1px);
  //   background-size: 2px 1px;
  //   background-repeat: repeat-x;
  //   background-position: left bottom;
  //   padding: 1px;
  // }

  .info-text {
    text-align: left;
    line-height: 1.8rem;
    padding: 2px 0 30px;
  }

  .btn-info {
    margin-bottom: 80px;
  }

  .info-flower {
    margin: -20px 0 70px;
  }

  .info-admission {
    color: var(--main-color);
    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:focus {
      color: var(---main-color-green);
    }
  }
}

// ------ 店舗情報 ------ //
.store-info {

  h3 {
    text-align: center;
    margin-bottom: 50px;
  }

  &_container {
    margin: 0 20px;
    font-size: 1rem;
    line-height: 2.2rem;
    list-style: none;


    p:nth-of-type(2) {
      font-size: 1.1rem;
    }

    .dotted-line {
      background-image: linear-gradient(to right, #8DB66E 1px, transparent 1px);
    }

    .btn {
      display: inline-block;
      border: 1px solid #000;
      background-color: var(--bg-color);
      width: 150px;
      border-radius: 8px;
      text-align: center;
      font-weight: 400;
      font-size: 1rem;
      letter-spacing: 0.02rem;
      align-items: center;


      a {
        color: var(--main-color);
        padding: 10px 10px;
        cursor: pointer;
        margin: 0 auto;
        text-align: center;
        align-items: center;
      }
    }
  }

}

iframe {
  display: none;
}




// ここまでinfo

//---------------- ここから  PC 600px～ /--------------------------//
// @include mq {
// body {
//   padding-top: 0;
// }

// .header-nav {
//   width: 200px;
//   height: 100vh; //100%でも可
//   flex-direction: column;

// ロゴ
// &_logo {}



// img {
//   width: 160px;
// }
// }

// PC =====
// @include mq {
//   position: static;
//   transform: translateX(0) !important;
//   align-items: flex-start;
//   justify-content: flex-start;

//   //ナビゲーション
//   &_gnav {
//     align-items: flex-start;
//     text-align: start;
//     padding: 0 15px;

//     li {
//       margin-bottom: 1.5em;
//     }

//     a {
//       font-size: 1rem;
//       position: relative;
//       display: inline-block;
//       padding-bottom: 3px;

//       &::after {
//         content: "";
//         height: 1px;
//         width: 100%;
//         position: absolute;
//         background-color: var(--color-primary);
//         left: 0;
//         bottom: 0;
//         transform: scaleX(0);
//         transition: transform 0.4s var(--easing);
//         transform-origin: right center;
//       }

//       &:hover::after {
//         transform: scaleX(1);
//         transform-origin: left center;
//       }
//     }
//   }
// }
// ハンバーガーボタン
// .header-nav-toggle {
//   display: none;
// }
// iframe {
//   display: block;
// }
// }