@use './mixins' as *;

// リセット
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//--------------------- 共通設定 ---------------------//
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
}

img {
  display: block;
  max-width: 100%;
}

h2,
p {
  opacity: 0.8;
}

h3 {
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: 400;
  opacity: 0.7;
}

ul {
  list-style: none;
}

/* ボタン */
.btn {
  border: none;
  background-color: var(--sub-color);
  border-radius: 6px;

  a {
    display: block;
    padding: 12px 12px;
    width: 200px;
    margin: 0 auto;
    border: none;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.02rem;
    font-family: var(--font-primary);
    text-decoration: none;
    color: var(--bg-color);
    transition: 0.1s var(--easing);
    cursor: pointer;

    &:hover {
      background-color: var(--main-color-green);
      border-radius: 6px;
    }
  }
}

// ストライプ柄の下線//
.stripe-line {
  position: relative;
  padding: 0.2em;
  width: 320px;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7px;
    background: repeating-linear-gradient(-45deg, rgb(139, 204, 139), rgb(117, 190, 117) 2px, white 2px, white 4px);
  }
}

// 点線のコード //
.dotted-line {
  background-image: linear-gradient(to right, #F9AA8F 1px, transparent 1px);
  background-size: 2px 1px;
  background-repeat: repeat-x;
  background-position: left bottom;
  padding: 1px;
}

//-------------- 共通設定 ここまで-----------//

//----------------- ヘッダー ------------------//
.header-nav {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// ナビ/コンテナ
.header-nav_container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  transition: 0.6s ease-in-out;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;

  li {
    margin-bottom: 25px;
    list-style: none;

    a {
      text-decoration: none;
      color: var(--text-color);
      font-size: 1.5rem;
    }
  }

  .header-nav-checkbox:checked~& {
    transform: translateX(0);
  }

  //ナビゲーション（gnav）
  &_gnav {
    text-align: center;
    display: flex;
    align-items: center;


    li {
      margin-bottom: 25px;
      list-style: none;

      a {
        text-decoration: none;
        color: var(--text-color);
        font-size: 1.5rem;
      }
    }
  }
}


// ハンバーガーボタン
.header-nav-toggle {
  position: fixed;
  width: 40px;
  height: 40px;
  z-index: 10;
  top: 40px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;


  &::before,
  &::after,
  span {
    content: "";
    height: 3px;
    width: 35px;
    background-color: #ccc;
    opacity: 0.7;
    position: absolute;
    transition: 0.5s var(--easing);
    text-shadow:
      1px 1px 2px rgb(53, 49, 49),
      0 0 1em rgb(43, 43, 45),
      0 0 0.2em rgb(24, 24, 25);

  }

  &::before {
    top: calc(50% - 14px);
  }

  &::after {
    top: calc(50% + 14px);
  }

  .header-nav-checkbox:checked~& {
    span {
      transform: scaleX(0);
    }

    &::before {
      top: 50%;
      transform: rotate(-45deg);
      background-color: var(--text-color);
    }

    &::after {
      top: 50%;
      transform: rotate(45deg);
      background-color: var(--text-color);
    }
  }
}

.header-nav-checkbox {
  display: none;
}

// /ハンバーガーボタン ここまで //


//-------------------- メイン --------------------//
// メインビジュアル
.mv-area {
  position: relative;
  top: 0;
  left: 0;
  border-bottom-right-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  overflow: hidden;

  &_photo {


    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      height: 84vh;
    }
  }

  &_title {
    color: var(--bg-color);
    position: absolute;
    top: 45%;
    left: 1%;
    font-size: 1.2rem;
    text-align: center;

  }

  /*スクロールダウン*/
  .scrolldown1 {
    position: absolute;
    left: 50%;
    bottom: 50px;
    height: 50px;
  }

  .scrolldown1 span {
    position: absolute;
    left: -20px;
    top: -10px;
    color: #eee;
    font-size: 0.7rem;
    letter-spacing: 0.04em;
    font-size: 1rem;
    writing-mode: vertical-rl;

  }

  .scrolldown1::after {
    content: "";
    position: absolute;
    top: 0;
    width: 1.5px;
    height: 50px;
    background: #eee;
    animation: pathmove 1.4s ease-in-out infinite;
    opacity: 0;
  }

  @keyframes pathmove {
    0% {
      height: 0;
      top: 0;
      opacity: 0;
    }

    30% {
      height: 50px;
      opacity: 1;
    }

    100% {
      height: 0;
      top: 50px;
      opacity: 0;
    }
  }
}

// メインビジュアル ここまで

//--- イントロダクション（私たちは～） ---//
.introduction-inner {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  width: 100%;

  h2 {
    margin-top: 100px;
    font-weight: 400;
    line-height: 3rem;
  }

  p {
    margin-top: 50px;
    line-height: 2rem;
    letter-spacing: 0.01em;
  }

  .content {
    display: flex;
    justify-content: end;
    margin-bottom: 40px;

    img {
      width: 50%;
    }
  }
}

// 画面固定スクロール  １
.scroll-box {
  height: 55vh;
  clip-path: inset(0);
  margin-bottom: 90px;

  img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// イントロダクション ここまで

// info-お知らせ//
.info {
  width: 100%;
  text-align: center;
}

.info-list {

  &_items {
    padding: 0 20px;
    margin: 50px 0;

    &:last-child {
      margin-right: auto;
      width: 60%;
      margin-bottom: 50px;
    }

    a {
      background-color: var(--text-color);
      color: var(--main-color);
      cursor: pointer;
      display: block;
      padding-bottom: 10px;
      text-decoration: none;

      span {
        vertical-align: middle;
      }
    }
  }
}

// info-お知らせ ここまで//

//---- 今月のお花教室 -----//
article {
  h3 {
    text-align: center;
    font-size: 1.9rem;
  }
}

.info-blog {
  padding: 0 20px;

  .info-school {
    padding: 50px 0 40px;
  }

  .info-title {
    text-align: left;
    line-height: 2.4rem;
    padding-bottom: 10px;
    font-size: 1.2rem;
  }

  .info-text {
    text-align: left;
    line-height: 2.4rem;
    padding: 2px 0 30px;
    font-size: 1.3rem;
  }

  .btn-info {
    margin-bottom: 80px;
    width: 240px;

    a {
      font-size: 1.2rem;
      letter-spacing: 0.03rem;
      text-align: center;
      padding: 15px 0;
    }
  }

  .info-flower {
    margin: -20px 0 70px;
  }

  .info-admission {
    color: var(--main-color);
    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:focus {
      color: var(---main-color-green);
    }
  }
}

// 今月のお花教室 ここまで//

// ------ 店舗情報 ------ //
.store-info {

  h3 {
    text-align: center;
    margin-bottom: 50px;
  }

  &_container {
    margin: 0 20px;
    font-size: 1rem;
    line-height: 2.2rem;
    // list-style: none;

    .dotted-line {
      background-image: linear-gradient(to right, #8DB66E 1px, transparent 1px);

      p:nth-of-type(2) {
        font-size: 1.1rem;
      }

      .btn {
        display: inline-block;
        border: 1px solid var(--text-color);
        background-color: var(--bg-color);
        width: 150px;
        border-radius: 6px;
        letter-spacing: 0.02rem;
        display: flex;
        justify-content: center;

        a {
          color: saturate(#f9aa8f, 5%);
          padding: 9px 9px;
          font-weight: 400;
          font-size: 1.2rem;
          transition: 0.1s ease-in;

          &:hover {
            background-color: var(--bg-color);
            color: saturate(#91BC6F, 5%);
          }
        }
      }

      .material-symbols-outlined {
        vertical-align: text-top;
      }
    }
  }
}

iframe {
  display: none;
}

.store-info_btn {
  text-align: center;
  margin: 30px 0 90px;
}

// 店舗情報 ここまで//


//---------- フッター ------------//
.footer {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;

  a {
    width: 13%;
    margin-left: auto;
    transform: translate(-15px, -35px);
  }

  &-logo {
    width: 40%;
  }

  small {
    font-size: 1rem;
    opacity: 0.75;
    padding: 5px;
  }
}

// フッター ここまで//

//----------------- ここから  PC 600px～ /-------------------------//
@include mq {
  h3 {
    font-size: 1.8rem;
  }

  .stripe-line {
    width: 300px;

    &::after {
      // content: '';
      height: 10px;
      background: repeating-linear-gradient(-45deg, rgb(100, 164, 100), rgb(70, 169, 70) 2px, white 4px, white 6px);
    }
  }

  // ヘッダー//
  .header-nav {

    // ハンバーガーボタン
    &-toggle {
      display: none;
    }

    &_container {
      transform: translateX(0) !important;
      background-color: transparent;

      &_nav ul {
        width: 400px;
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 20px;
        margin: 0 220px;

        li a {
          color: var(--main-color);
          font-size: 1.4rem;
          padding: 17px;
          text-shadow:
            1px 1px 2px rgb(214, 213, 213),
            // 0 0 1em rgb(161, 161, 168),
            0 0 0.1em rgb(253, 230, 230);
        }
      }
    }
  }

  .stripe-line::after {
    display: none;
  }
}

// ヘッダー ここまで//


// ---------------- main ------------------ //
// イントロダクション//
.introduction {

  &-inner {
    margin-top: 40px;
    flex-direction: row;
    margin-bottom: 90px;

    &_container {
      flex-basis: 60%;
      flex-direction: column;
      display: flex;
      align-items: center;

      h2 {
        font-size: 2.6rem;
        line-height: 4.4rem;
        padding-left: 40px;
      }

      p {
        width: 500px;
        font-size: 1.2rem;
        line-height: 2.4rem;
        letter-spacing: 0.01rem;
        padding-left: 60px;

      }
    }

    .content {
      justify-content: start;
      flex-basis: 40%;

    }
  }
}

// イントロダクション ここまで//

// info-お知らせ ここまで//
.info {
  &-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 55%;
    margin: 0 auto;

    &_items {

      &:last-child {
        width: 100%;
        position: relative;
        right: 450px;
      }
    }
  }
}

// 今月のお花教室 ここまで//
.info-blog {
  grid-template-columns: 1fr 1fr;
  display: grid;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 80px;
  display: flex;
  width: 50%;
  flex-wrap: wrap;

  &_container {
    justify-content: center;
    width: 50%;

    .info-school {
      width: 65%;
    }

    .info-blog_left {
      position: relative;
      right: 70px;
      top: 40px;
    }

    &_right {
      position: relative;
      top: 50px;
      left: 50px;
      width: 50%;

      img {
        width: 60%;
        position: absolute;
        bottom: -10px;
        left: 90px;
      }
    }

    .info-text {
      padding-top: 40px;
    }
  }

  .info-title {
    font-size: 1.4rem;
  }
}

// ------ 店舗情報 ------//
.store-info {
  margin-top: 120px;
  width: 100%;

  h3 {
    font-size: 1.9rem;
  }

  .store-info_container {
    justify-content: space-around;
    display: flex;

    &_list {
      position: relative;
      left: 175px;

      li p {
        font-size: 1.3rem;
        padding-top: 12px;

        &:nth-child(n+2) {
          font-size: 1.4rem;
          padding-bottom: 5px;
        }
      }

      .btn {
        width: 180px;
        padding: 5px;

        a {
          font-size: 1.4rem;
        }
      }
    }

    .google-map {
      display: flex;
      width: 20%;
      position: relative;
      right: 80px;
      top: 75px;

      iframe {
        display: block;
        width: 80%;
        height: 350px;
      }
    }
  }

  .store-info_btn {

    a {
      width: 250px;
      font-size: 1.2rem;
      padding: 18px 50px;
    }
  }
}

// 店舗情報 ここまで//

// フッター//
.footer {
  position: relative;
  width: 26.5%;
  padding-top: 90px;

  a img {
    width: 74.5%;
    position: absolute;
    left: 350px;
    top: -80px;
  }

  small {
    font-size: 1.25rem
  }
}

// フッター ここまで//