:root {
  --font-primary: 'Shippori Mincho', serif;
  --main-color: #F1A78C;
  --main-color-green: #91BC6F;
  --sub-color: #f9aa8f;
  --bg-color: #fef9eb;
  --text-color: #333;
  --easing: cubic-bezier(.69, 0, .18, 1);
  --radius: 50% 30px;
}