@charset "UTF-8";
:root {
  --font-primary: "Shippori Mincho", serif;
  --main-color: #F1A78C;
  --main-color-green: #91BC6F;
  --sub-color: #f9aa8f;
  --bg-color: #fff;
  --text-color: #333;
  --easing: cubic-bezier(.69, 0, .18, 1);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
}

img {
  display: block;
  max-width: 100%;
}

h2,
p {
  opacity: 0.8;
}

h3 {
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: 400;
  opacity: 0.7;
}

ul {
  list-style: none;
}

/* ボタン共通設定 */
.btn {
  border: none;
  background-color: var(--sub-color);
  border-radius: 6px;
}
.btn a {
  display: block;
  padding: 12px 12px;
  width: 200px;
  margin: 0 auto;
  border: none;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.02rem;
  font-family: var(--font-primary);
  text-decoration: none;
  color: var(--bg-color);
  -webkit-transition: 0.1s var(--easing);
  transition: 0.1s var(--easing);
}
.btn a:hover {
  background-color: var(--main-color-green);
  border-radius: 6px;
}

.stripe-line {
  position: relative;
  padding: 0.2em;
  width: 240px;
}
.stripe-line::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 7px;
  background: repeating-linear-gradient(-45deg, rgb(139, 204, 139), rgb(117, 190, 117) 2px, white 2px, white 4px);
}

.dotted-line {
  background-image: linear-gradient(to right, #F9AA8F 1px, transparent 1px);
  background-size: 2px 1px;
  background-repeat: repeat-x;
  background-position: left bottom;
  padding: 1px;
}

.header-nav {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav_container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
}
.header-nav_container li {
  margin-bottom: 25px;
  list-style: none;
}
.header-nav_container li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.5rem;
}
.header-nav-checkbox:checked ~ .header-nav_container {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.header-nav_container_gnav {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-nav_container_gnav li {
  margin-bottom: 25px;
  list-style: none;
}
.header-nav_container_gnav li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.5rem;
}

.header-nav-toggle {
  position: fixed;
  width: 40px;
  height: 40px;
  z-index: 10;
  top: 40px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.header-nav-toggle::before, .header-nav-toggle::after,
.header-nav-toggle span {
  content: "";
  height: 2px;
  width: 30px;
  background-color: var(--bg-color);
  opacity: 0.7;
  position: absolute;
  -webkit-transition: 0.5s var(--easing);
  transition: 0.5s var(--easing);
}
.header-nav-toggle::before {
  top: calc(50% - 14px);
}
.header-nav-toggle::after {
  top: calc(50% + 14px);
}
.header-nav-checkbox:checked ~ .header-nav-toggle span {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
.header-nav-checkbox:checked ~ .header-nav-toggle::before {
  top: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: var(--text-color);
}
.header-nav-checkbox:checked ~ .header-nav-toggle::after {
  top: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: var(--text-color);
}

.header-nav-checkbox {
  display: none;
}

.mv-area {
  position: relative;
  overflow: hidden;
  height: 700px;
  border-bottom-right-radius: 50% 10px;
  border-bottom-left-radius: 50% 10px;
}
.mv-area img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 25%;
     object-position: 25%;
}
.mv-area_title {
  color: var(--bg-color);
  position: absolute;
  top: 45%;
  font-size: 1.2rem;
  text-align: center;
}

.introduction-inner {
  margin: 60px 5px 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  width: 100%;
}
.introduction-inner h2 {
  font-weight: 400;
  line-height: 3rem;
}
.introduction-inner p {
  margin-top: 50px;
  line-height: 2rem;
  letter-spacing: 0.01em;
}
.introduction-inner img {
  width: 50%;
  margin-left: auto;
  margin-bottom: 50px;
}

.scroll-box {
  height: 55vh;
  -webkit-clip-path: inset(0);
          clip-path: inset(0);
  margin-bottom: 90px;
}
.scroll-box img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.info {
  width: 100%;
  text-align: center;
}

.info-list_items {
  padding: 0 20px;
  margin: 50px 0;
}
.info-list_items:last-child {
  margin-right: auto;
  width: 60%;
  margin-bottom: 50px;
}
.info-list_items a {
  background-color: var(--text-color);
  color: var(--main-color);
  cursor: pointer;
  display: block;
  padding-bottom: 10px;
  text-decoration: none;
}
.info-list_items a span {
  vertical-align: middle;
}

.info-blog {
  padding: 0 20px;
}
.info-blog .info-school {
  padding: 50px 0 40px;
}
.info-blog .info-title {
  text-align: left;
  line-height: 1.8rem;
  padding-bottom: 10px;
}
.info-blog .info-text {
  text-align: left;
  line-height: 1.8rem;
  padding: 2px 0 30px;
}
.info-blog .btn-info {
  margin-bottom: 80px;
}
.info-blog .info-flower {
  margin: -20px 0 70px;
}
.info-blog .info-admission {
  color: var(--main-color);
  text-decoration: none;
  cursor: pointer;
}
.info-blog .info-admission:hover, .info-blog .info-admission:focus {
  color: var(---main-color-green);
}

.store-info h3 {
  text-align: center;
  margin-bottom: 50px;
}
.store-info_container {
  margin: 0 20px;
  font-size: 1rem;
  line-height: 2.2rem;
}
.store-info_container .dotted-line {
  background-image: linear-gradient(to right, #8DB66E 1px, transparent 1px);
}
.store-info_container .dotted-line p:nth-of-type(2) {
  font-size: 1.1rem;
}
.store-info_container .dotted-line .btn {
  display: inline-block;
  border: 1px solid var(--text-color);
  background-color: var(--bg-color);
  width: 150px;
  border-radius: 6px;
  letter-spacing: 0.02rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.store-info_container .dotted-line .btn a {
  color: #fca98c;
  padding: 9px 9px;
  font-weight: 400;
  font-size: 1.2rem;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}
.store-info_container .dotted-line .btn a:hover {
  background-color: var(--bg-color);
  color: #90c16a;
}
.store-info_container .dotted-line .material-symbols-outlined {
  vertical-align: text-top;
}

iframe {
  display: none;
}

.store-info_btn {
  text-align: center;
  margin: 30px 0 90px;
}

.footer {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer a {
  width: 13%;
  margin-left: auto;
  -webkit-transform: translate(-15px, -35px);
          transform: translate(-15px, -35px);
}
.footer-logo {
  width: 40%;
}
.footer small {
  font-size: 1rem;
  opacity: 0.75;
  padding: 5px;
}

@media screen and (min-width: 600px) {
  .header-nav-toggle {
    display: none;
  }
  .header-nav_container {
    -webkit-transform: translateX(0) !important;
            transform: translateX(0) !important;
    background-color: transparent;
  }
  .header-nav_container_nav ul {
    width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    top: 20px;
    right: 20px;
    margin-left: auto;
  }
  .header-nav_container_nav li a {
    color: var(--main-color);
    font-size: 1.25rem;
  }
  .header-nav .stripe-line::after {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */