:root {
  // --font-praimary: "Radio Canada", "Noto-Sans JP" sans-serif;//
  // ※👆フォントファミリーはここに記述する
  --text-color: #000;
  --bg-color: #fff;
  --txt-bg-color: #f8f8f8;
  --text-light-color: #3D4240;
  // --easing: cubic-bezier(.17, .67, .83, .67) 👈数値は未確認
}