@charset "UTF-8";
:root {
  --accent-color: #e7fbe7;
  --bg-color: #fffdec;
  --rink-color: #1ca9e3;
  --text-color: #333;
  --text-thin-color: #797979;
  --white: #fff;
  --black: #000;
  --font-title: Shippori Mincho;
  --font-text: serif;
}

html {
  scroll-behavior: smooth;
  font-size: 24px;
}
@media screen and (max-width: 1440px) {
  html {
    font-size: calc((100vw - 320px) / 140 + 16px);
  }
}

body {
  font-family: "Shippori Mincho", serif;
  font-size: 1rem;
  letter-spacing: 0.05em;
  color: var(--text-color);
}

ul {
  font-size: 1.2rem;
}

p {
  font-size: 0.9rem;
  font-weight: normal;
}

a {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  text-decoration: none;
  color: var(--rink-color);
}
a:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
  -o-object-fit: cover;
     object-fit: cover;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

.wrapper {
  padding-top: 35px;
}

.section {
  padding: 90px 0;
}
.section:nth-of-type(odd) {
  background-color: #fffdec;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 40px;
}

.title {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--text-color);
}

.lead {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 30px;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  -webkit-box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.1);
  /* すりガラス風 */
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  background: rgba(253, 239, 242, 0.75);
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 40px;
}
.header .container .header-logo {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
  margin-right: 20px;
  letter-spacing: 0.05em;
}
.header .container .header-logo a {
  color: var(--text-color);
}

.gnav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}
.gnav-list .gnav-item:not(:last-child) {
  margin-right: 32px;
}
.gnav-list a {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 0.1rem;
  color: var(--text-color);
  text-decoration: none;
}
.gnav-list a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: var(--text-color);
}
.gnav-list a::after:hover::after {
  width: 100%;
}

.page-top {
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: var(--bg-color);
}
.page-top .material-icons-outlined {
  vertical-align: bottom;
  color: var(--text-thin-color);
}

.footer {
  padding: 30px;
  background-color: var(--accent-color);
}
.footer .copyright {
  font-size: 12px;
  text-align: center;
  color: var(--text-thin-color);
}

@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
  /* 見出し */
  .title {
    font-size: 26px;
    margin-bottom: 20px;
  }
  .lead {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 20px;
  }
  /* レイアウト */
  .section {
    padding: 60px 0;
  }
  .container {
    padding: 0 20px;
  }
  /* ヘッダー */
  .header .container {
    padding: 15px;
  }
  .header .container .header-logo {
    font-size: 18px;
    margin-right: 15px;
  }
  .header .container .gnav-item:not(:last-child) {
    margin-right: 10px;
  }
  .header .container .gnav a {
    font-size: 12px;
  }
  .header .container .gnav a::after {
    display: none;
  }
}
/* フッター */
.footer {
  padding: 20px;
}

.mv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  text-align: center;
  background-image: url(../img/investment-5241253_1280.jpg);
  background-size: cover;
  margin: -75px 0 0;
  background-position: 30%;
  aspect-ratio: 1280/853;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .mv {
    margin: -73px 0;
    aspect-ratio: 768/500;
    max-width: 100%;
    height: 100%;
    height: 100vh;
    padding-top: 100px;
    background-position: left left;
    background-size: auto 100%;
  }
}

.mv-container {
  color: var(--white);
  margin-bottom: 30px;
  margin-right: 50px;
  position: relative;
  left: 100px;
}
@media screen and (max-width: 767px) {
  .mv-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 0;
    bottom: 24px;
    margin: 0;
  }
}

.mv-title {
  font-size: 56px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 5px;
  letter-spacing: 0.1em;
  text-shadow: 4px 4px 4px #626060;
}
@media screen and (max-width: 767px) {
  .mv-title {
    font-size: 32px;
  }
}

.mv-subtitle {
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 40px;
  letter-spacing: 0.08em;
  text-shadow: 3px 3px 2px #676666;
}
@media screen and (max-width: 767px) {
  .mv-subtitle {
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: 0.3em;
  }
}

.mv-text {
  font-size: 20px;
  line-height: 1.8;
  font-weight: bold;
  padding: 20px;
  background-color: rgba(161, 160, 160, 0.3);
  text-shadow: 1px 1px 2px rgb(76, 76, 76), 0 0 1em rgb(66, 66, 88), 0 0 0.2em rgb(12, 12, 57);
}
@media screen and (max-width: 767px) {
  .mv-text {
    font-size: 16px;
    line-height: 1.7;
    background-color: rgba(161, 160, 160, 0.3);
    padding: 8px;
    text-shadow: 1px 1px 7px #4b4b4b;
  }
}

.works .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.works .container h2 {
  position: relative;
  display: inline-block;
  padding: 0 55px;
}
.works .container h2:before, .works .container h2:after {
  content: "";
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 40px;
  height: 1px;
  background-color: var(--black);
}
.works .container h2:before {
  left: 0;
}
.works .container h2:after {
  right: 0;
}
.works .container .works-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -40px;
}
@media screen and (max-width: 767px) {
  .works .container .works-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.works-item {
  width: 31.74603%;
  margin-right: 1.5873%;
  margin-bottom: 40px;
  color: var(--text-color);
}
.works-item:hover {
  opacity: 0.9;
}
.works-item:nth-of-type(3n) {
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  .works-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.works-img {
  border-radius: 5px;
}
.works-img img {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 6/4;
  -o-object-position: top;
     object-position: top;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
}

.works-name {
  font-size: 18px;
  font-weight: bold;
  margin-top: 8px;
}
@media screen and (max-width: 767px) {
  .works-name {
    font-size: 14px;
  }
}

.works-info {
  font-size: 16px;
  margin-top: 5px;
}
@media screen and (max-width: 767px) {
  .works-info {
    margin-top: 3px;
  }
}

.skill .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: -50px;
}
@media screen and (max-width: 767px) {
  .skill-list {
    display: block;
    margin-bottom: 0;
  }
}

.skill-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 48%;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .skill-item {
    width: 100%;
    margin-bottom: 35px;
  }
  .skill-item:last-child {
    margin-bottom: 0;
  }
}

.skill-img {
  width: 60px;
  height: auto;
  margin-right: 20px;
}

.skill-body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.skill-name {
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .skill-name {
    margin-bottom: 5px;
  }
}

.skill-text {
  font-size: 16px;
  line-height: 1.8;
  font-weight: normal;
}
@media screen and (max-width: 767px) {
  .skill-text {
    font-size: 15px;
    line-height: 1.7;
  }
}

.about {
  background: url(/img/tesukiwashi-pattern-08.jpg);
}
.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 600px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.profile-img {
  width: 40%;
  margin-right: 30px;
  border-radius: 50%;
  margin: 0 auto;
}
.profile-body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.profile-body p {
  font-size: 16px;
  line-height: 1.8;
  font-weight: normal;
}
.profile-body p:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .profile-body p:not(:last-child) {
    margin-bottom: 20px;
  }
}
.profile-body p:first-child {
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  .profile-body p {
    font-size: 1rem;
    line-height: 1.7;
  }
}
@media screen and (max-width: 767px) {
  .profile {
    display: block;
  }
}

.contact {
  text-align: center;
}
.contact .container .lead {
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .contact .container .lead {
    font-size: 1rem;
    margin: 24px 0 32px;
  }
}

.contact-list a {
  font-size: 0.8rem;
}

.contact-item {
  font-size: 16px;
}
.contact-item:not(:last-child) {
  margin-right: 10px;
}

/* QRコード */
.img-qr img {
  width: 8%;
  margin-top: 6px;
}
@media screen and (max-width: 767px) {
  .img-qr img {
    width: 30%;
  }
}
.img-qr p {
  font-size: 16px;
  margin-top: 6px;
}
@media screen and (max-width: 767px) {
  .img-qr p {
    font-size: 0.8rem;
  }
}

@media print {
  body {
    font-size: 1.6rem;
    font-weight: normal;
  }
  .skill section {
    page-break-before: always;
  }
  .about section {
    page-break-before: always;
  }
  /*printで適用する内容*/
  .contact section {
    page-break-before: always;
    /* 直前で改ページさせる */
  }
  .article-body_pc {
    page-break-before: always;
  }
}
.article {
  padding: 136px 0;
}
@media screen and (max-width: 767px) {
  .article {
    padding-top: 74px;
  }
}
.article-container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-title {
  margin-bottom: 30px;
  font-size: 1.25rem;
}

.article-body {
  max-width: 720px;
  margin: 0 auto;
}
.article-body_mockup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.article-body_mockup img {
  padding: 20px;
  margin-bottom: 20px;
}

h3 {
  position: relative;
  font-size: 20px;
  margin-bottom: 5px;
  padding-left: 1em;
}
h3:not(:first-child) {
  margin-top: 50px;
}
h3::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  content: "";
  border-radius: 3px;
  background-color: var(--text-color);
}

p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 30px;
}
p .article-body_pc {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 56px auto;
}

.article-body_sp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.article-body_sp img {
  width: 20%;
  padding: 20px;
}

.article-body_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.article-body_box img {
  width: 40%;
  margin: 0 16px;
}

.home-link {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .article-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .article-body h3 {
    font-size: 18px;
    padding-left: 0.8em;
  }
  .article-body p {
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 20px;
    font-weight: normal;
  }
}
/*--------------------------------
jQuery・lazyloaded
---------------------------------*/
.box-fadein img {
  opacity: 0;
  -webkit-transition: opacity 3s;
  transition: opacity 3s;
}

.box-fadein.lazyloaded img.lazyloaded {
  opacity: 1;
}

/*--------------------------------
モーダル
---------------------------------*/
/*全て共通：hideエリアをはじめは非表示*/
.hide-area {
  display: none;
}

/*全て共通：モーダルのボタンの色を変更したい場合*/
.modaal-close:after,
.modaal-close:before {
  background: #ccc;
}

.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before {
  background: #666;
}/*# sourceMappingURL=style.css.map */